[submodule ".vim/bundle/tpope-vim-surround"]
	path = .vim/bundle/tpope-vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/tpope-vim-ragtag"]
	path = .vim/bundle/tpope-vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/tpope-vim-rails"]
	path = .vim/bundle/tpope-vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/tsaleh-vim-tcomment"]
	path = .vim/bundle/tsaleh-vim-tcomment
	url = http://github.com/tsaleh/vim-tcomment.git
[submodule ".vim/bundle/scrooloose-nerdtree"]
	path = .vim/bundle/scrooloose-nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/raimond-delimitMate"]
	path = .vim/bundle/raimond-delimitMate
	url = http://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/mileszs-ack"]
	path = .vim/bundle/mileszs-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-markdown-preview"]
	path = .vim/bundle/vim-markdown-preview
	url = https://github.com/robgleeson/vim-markdown-preview.git
[submodule ".vim/bundle/vim-slim"]
	path = .vim/bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule ".vim/bundle/othree-html5-syntax"]
	path = .vim/bundle/othree-html5-syntax
	url = https://github.com/othree/html5-syntax.vim.git
[submodule ".vim/bundle/tpope-vim-haml"]
	path = .vim/bundle/tpope-vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
