[user]
  name = Steven Harman
  email = steven@harmanly.com
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  tool = Kaleidoscope
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = false
[mergetool]
  prompt = false
  keepBackup = false
[diff]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "p4diff"]
  cmd = p4merge "$LOCAL" "$BASE"
[difftool]
  prompt = false
[core]
  autocrlf = false
  legacyheaders = false
  excludesfile = ~/.gitignore_global
[fetch]
  prune = true
[push]
  default = simple
[gui]
  fontdiff = -family Monaco -size 12 -weight normal -slant roman -underline 0 -overstrike 0
[repack]
  usedeltabaseoffset = true
[alias]
  aa = add --all
  ch = cherry -v origin
  ci = commit --verbose
  co = checkout
  dc = diff --cached
  fa = fetch --all --prune
  l = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen(%ar) %C(bold blue)<%aN>% %C(yellow)%d%Creset %s' --abbrev-commit --date=relative
  la = !git l --all
  mine = log --author=Steven
  mt = mergetool
  st = status -sb
  tags = !.git/hooks/ctags
[rerere]
  enabled = true
[init]
  templatedir = ~/.git_template
[stash]
  showPatch = true
