[submodule ".vim/bundle/tpope-vim-surround"]
	path = .vim/bundle/tpope-vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/tpope-vim-ragtag"]
	path = .vim/bundle/tpope-vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/tpope-vim-rails"]
	path = .vim/bundle/tpope-vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/tsaleh-vim-tcomment"]
	path = .vim/bundle/tsaleh-vim-tcomment
	url = http://github.com/tsaleh/vim-tcomment.git
[submodule ".vim/bundle/msanders-snipmate"]
	path = .vim/bundle/msanders-snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/reinh-vim-makegreen"]
	path = .vim/bundle/reinh-vim-makegreen
	url = http://github.com/reinh/vim-makegreen.git
[submodule ".vim/bundle/scrooloose-nerdtree"]
	path = .vim/bundle/scrooloose-nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/raimond-delimitMate"]
	path = .vim/bundle/raimond-delimitMate
	url = http://github.com/Raimondi/delimitMate.git
