[submodule ".vim/bundle/tpope-vim-surround"]
	path = .vim/bundle/tpope-vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/tpope-vim-ragtag"]
	path = .vim/bundle/tpope-vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/tpope-vim-rails"]
	path = .vim/bundle/tpope-vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/tsaleh-vim-tcomment"]
	path = .vim/bundle/tsaleh-vim-tcomment
	url = http://github.com/tsaleh/vim-tcomment.git
[submodule ".vim/bundle/msanders-snipmate"]
	path = .vim/bundle/msanders-snipmate
	url = http://github.com/msanders/snipmate.vim.git
