[user]
  name = Steven Harman
  email = steveharman@gmail.com
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  tool = p4merge
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = false
[mergetool]
  prompt = false
  keepBackup = false
[diff]
  tool = p4diff
[difftool "p4diff"]
  cmd = p4merge "$LOCAL" "$BASE"
[difftool]
  prompt = false
[core]
  autocrlf = input
  legacyheaders = false
[gui]
  fontdiff = -family Monaco -size 12 -weight normal -slant roman -underline 0 -overstrike 0
[repack]
  usedeltabaseoffset = true
[alias]
  ci = commit
  co = checkout
  st = status
  ch = cherry -v origin
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  mt = mergetool
  mine = log --author=Steven
  spull = !git svn fetch && git svn rebase
  spush = !git svn dcommit
[github]
  user = stevenharman
  token = [GITHUB TOKEN HERE]
